body{
    background-color: green;
}
header{background-color: brown;
}

h1{color: aqua;
    font-size: 60px;
    text-align: center;




}



p{color: aliceblue;
font-size: 30px;
text-align: center;


}
